<div class="tools">
  <button mat-raised-button (click)="open()">Відкрити збережений</button>
  <button mat-raised-button *ngIf="(authCheck$ | async) == 2" (click)="changeContacts()">Змінити контакти</button>
  <button mat-raised-button (click)="addEvent()">Додати подію</button>
  <button mat-raised-button (click)="addAction()">Додати нотатки</button>
  <div class="save">
    <mat-form-field class="file-name">
      <mat-label>Назва файлу</mat-label>
      <input matInput [(ngModel)]="fileName" name="title" />
    </mat-form-field>
    <button
      mat-raised-button
      [disabled]="fileName === '' ? true : false"
    >
      <mat-icon>save</mat-icon> Зберегти
    </button>
  </div>
</div>

<mat-divider></mat-divider>

<div class="full-width-block">
  <div class="contact-info">
    <img [src]="contactImage" alt="Contact" />
    <div class="contact-text">
      <p *ngFor="let contact of contacts">
        {{ contact.toString() }}
      </p>
    </div>
  </div>

  <div class="actions">
    <p *ngFor="let action of actions; let i = index">
      —&nbsp; {{ action.toString() }}
      <button mat-flat-button (click)="editAction(i)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-flat-button (click)="deleteAction(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </p>
  </div>
</div>

<mat-divider></mat-divider>

<app-timeline [timelineData]="events"></app-timeline>