<div class="tools">
  <button mat-raised-button (click)="open()">Відкрити збережений</button>
  <button mat-raised-button *ngIf="(authCheck$ | async) == 2" (click)="changeContacts()">Змінити контакти</button>
  <button mat-raised-button>Додати елемент</button>
  <button mat-raised-button (click)="addAction()">Додати дію</button>
  <div class="save">
    <mat-form-field class="file-name">
      <mat-label>Назва файлу</mat-label>
      <input matInput [(ngModel)]="fileName" name="title" />
    </mat-form-field>
    <button
      mat-raised-button
      [disabled]="fileName === '' ? true : false"
    >
      <mat-icon>save</mat-icon> Зберегти
    </button>
  </div>
</div>

<mat-divider></mat-divider>

Text