<h1 mat-dialog-title>Додати/Редагувати елемент</h1>
<div mat-dialog-content>
  <form class="invoice-item-form">
    <div class="flex-inputs">
      
      <mat-form-field class="invoice-item-full-width">
        <mat-label>Категорія</mat-label>
        <input matInput [matAutocomplete]="auto" [(ngModel)]="data.category" name="category" (ngModelChange)="onSelectedCategoryChanged($event)">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let cat of filteredCategories" [value]="cat">
            {{ cat }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="invoice-item-full-width">
        <mat-label>Вибрати</mat-label>
        <select matNativeControl [(ngModel)]="data.selectedCar" name="Choose" (ngModelChange)="onSelectedCarChanged($event)">
          <option value="-1" selected>Свій елемент</option>
          <option *ngFor="let car of filteredItems();" [value]="car.value">{{car.category}}: {{car.title}} - {{car.manufacturer}}</option>
        </select>
      </mat-form-field>

      <mat-form-field class="invoice-item-full-width">
        <mat-label>Модель</mat-label>
        <input matInput [(ngModel)]="data.title" name="title" />
      </mat-form-field>

      <mat-form-field class="invoice-item-full-width">
        <mat-label>Виробник</mat-label>
        <input matInput [(ngModel)]="data.manufacturer" name="manufacturer" />
      </mat-form-field>
      <mat-form-field class="invoice-item-full-width">
        <mat-label>Кількість</mat-label>
        <input
          matInput
          type="number"
          min="1"
          [(ngModel)]="data.quantity"
          name="quantity"
        />
      </mat-form-field>
      <mat-form-field class="invoice-item-full-width">
        <mat-label>Ціна</mat-label>
        <input
          matInput
          type="number"
          min="1"
          [(ngModel)]="data.price"
          name="price"
        />
      </mat-form-field>

      <mat-form-field class="invoice-item-full-width">
        <mat-label>Сума</mat-label>
        <input
          matInput
          type="number"
          [value]="data.price * data.quantity"
          name="sum"
          readonly
        />
      </mat-form-field>

      <mat-form-field class="invoice-item-full-width">
        <mat-label>Знижка в відсотках</mat-label>
        <input
          matInput
          type="number"
          min="0"
          [ngModel]="data.discountPercents"
          name="discountPercents"
          (ngModelChange)="onDiscountPercentsChanged($event)"
        />
      </mat-form-field>
      <mat-form-field class="invoice-item-full-width">
        <mat-label>Знижка</mat-label>
        <input
          matInput
          type="number"
          min="0"
          [(ngModel)]="data.discount"
          name="discount"
        />
      </mat-form-field>
      
      <mat-form-field class="invoice-item-full-width">
        <mat-label>До оплати</mat-label>
        <input
          matInput
          type="number"
          min="0"
          [value]="(data.price * data.quantity) - (data.discount ?? 0)"
          name="topay"
          readonly
        />
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()">Відмінити</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Зберегти</button>
</div>
