<h1 mat-dialog-title>Додати/Редагувати елемент</h1>
<div mat-dialog-content>
  <form class="invoice-item-form">
    <div class="flex-inputs">
      
      <mat-form-field class="invoice-item-full-width">
        <mat-label>Вибрати</mat-label>
        <select matNativeControl [(ngModel)]="data.selectedCar" name="Choose">
          <option value="-1" selected>Свій елемент</option>
          <option *ngFor="let car of cars;" [value]="car.value">{{car.title}} - {{car.manufacturer}}</option>
        </select>
      </mat-form-field>

      <mat-form-field class="invoice-item-full-width">
        <mat-label>Модель</mat-label>
        <input matInput [(ngModel)]="data.title" name="title" [value]="cars.find(c=>c.value==selectedCar)?.title" />
      </mat-form-field>

      <mat-form-field class="invoice-item-full-width">
        <mat-label>Виробник</mat-label>
        <input matInput [(ngModel)]="data.manufacturer" name="manufacturer" />
      </mat-form-field>
      <mat-form-field class="invoice-item-full-width">
        <mat-label>Кількість</mat-label>
        <input
          matInput
          type="number"
          min="1"
          [(ngModel)]="data.quantity"
          name="quantity"
        />
      </mat-form-field>
      <mat-form-field class="invoice-item-full-width">
        <mat-label>Ціна</mat-label>
        <input
          matInput
          type="number"
          min="1"
          [(ngModel)]="data.price"
          name="price"
        />
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()">Відмінити</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Зберегти</button>
</div>
