<h1 mat-dialog-title>Збережені файли:</h1>
<div mat-dialog-content class="choose-image">
  <ul>
    <li *ngFor="let file of files">
      <button mat-flat-button (click)="onSelect(file)">
        {{ getFileName(file) }}
      </button>
    </li>
  </ul>
  <input *ngIf="tool == 'planner'" type="file" (change)="onFileSelected($event)" accept=".planner">
  <input *ngIf="tool != 'planner'" type="file" (change)="onFileSelected($event)" accept=".invoicer">
</div>
<div mat-dialog-actions class="actions">
  <button mat-button (click)="onNoClick()">Revert</button>
  <button mat-button cdkFocusInitial>Apply</button>
</div>
