.body {
  margin: auto 5% auto 5%;
  align-items: center;
}

.tools {
  margin: 1% 5% 1% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.file-name {
  margin: 0 3%;
}

.save {
  display: flex;
}

.save button {
  display: flex;
  margin: 10px 0;
  padding: 10px;
}

.right-align {
  text-align: end;
}

.mr {
  margin-right: 10%;
}
