<div class="tools">
  <button mat-raised-button (click)="open()">Відкрити збережений</button>
  <button mat-raised-button *ngIf="(authCheck$ | async) == 2" (click)="changeContacts()">Змінити контакти</button>
  <button mat-raised-button (click)="add()">Додати елемент</button>
  <button mat-raised-button (click)="addAction()">Додати дію</button>
  <div class="save">
    <mat-form-field class="file-name">
      <mat-label>Назва файлу</mat-label>
      <input matInput [(ngModel)]="fileName" name="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Операційний файл</mat-label>
      <input matInput type="checkbox" [(ngModel)]="downloadOperational" name="downloadOperational" />
    </mat-form-field>
    <button
      mat-raised-button
      (click)="generateInvoice()"
      [disabled]="fileName === '' ? true : false"
    >
      <mat-icon>save</mat-icon> Зберегти
    </button>
  </div>
</div>

<mat-divider></mat-divider>

<div class="body">
  <div class="full-width-block">
    <div class="contact-info">
      <img [src]="contactImage" alt="Contact" />
      <div class="contact-text">
        <p *ngFor="let contact of contacts">
          {{ contact.toString() }}
        </p>
      </div>
    </div>

    <div class="actions">
      <p *ngFor="let action of actions; let i = index">
        —&nbsp; {{ action.toString() }}
        <button mat-flat-button (click)="editAction(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-flat-button (click)="deleteAction(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </p>
      <p>Сума {{ sum }} грн</p>
      <p>Знижка {{ discount }} грн</p>
      <p>Завдаток {{ prepaid }} грн</p>
      <p>До оплати {{ topay }} грн</p>
      <p>Накладні витрати {{ oncost }} грн</p>
      <p>Чистий дохід {{ netProfit }} грн</p>
    </div>
  </div>

  <table
    mat-table
    [dataSource]="invoiceData"
    class="mat-elevation-z8"
    id="invoice-table"
  >
    <ng-container
      *ngFor="let column of columns"
      [matColumnDef]="column.columnDef"
    >
      <th mat-header-cell *matHeaderCellDef>
        {{ column.header }}
      </th>
      <td mat-cell *matCellDef="let row; let i = index">
        {{ column.cell(row, i + 1) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="oncost">
      <th mat-header-cell *matHeaderCellDef>
        <div class="mr">Витрати, грн</div>
      </th>
      <td mat-cell *matCellDef="let row; let i = index">
        {{ row.oncost }}
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef class="right-align">
        <div class="mr">Категорія</div>
      </th>
      <td mat-cell *matCellDef="let row; let i = index">
        {{ row.category }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="right-align">
        <div class="mr">Дії</div>
      </th>
      <td mat-cell *matCellDef="let row; let i = index" class="right-align">
        <button mat-flat-button (click)="edit(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-flat-button (click)="delete(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="responsive-table">
    <div class="row" *ngFor="let row of invoiceData; let i = index">
      <div class="cell"><strong>Категорія:</strong> {{ row.category }}</div>
      
      <ng-container
        *ngFor="let column of columns"
        [matColumnDef]="column.columnDef"
      >
        <div class="cell"><strong>{{ column.header }}:</strong> {{ column.cell(row, i + 1) }}</div>
      </ng-container>
      
      <div class="cell actions">
        <button mat-icon-button (click)="edit(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
