<div class="tools">
  <button mat-raised-button (click)="open()">Відкрити збережений</button>
  <button mat-raised-button (click)="add()">Додати елемент</button>
  <div class="save">
    <mat-form-field class="file-name">
      <mat-label>Назва файлу</mat-label>
      <input matInput [(ngModel)]="fileName" name="title" />
    </mat-form-field>
    <button
      mat-raised-button
      (click)="generateInvoice()"
      [disabled]="fileName === '' ? true : false"
    >
      <mat-icon>save</mat-icon> Зберегти
    </button>
  </div>
</div>

<mat-divider></mat-divider>

<div class="body">
  <table
    mat-table
    [dataSource]="invoiceData"
    class="mat-elevation-z8"
    id="invoice-table"
  >
    <ng-container
      *ngFor="let column of columns"
      [matColumnDef]="column.columnDef"
    >
      <th mat-header-cell *matHeaderCellDef>
        {{ column.header }}
      </th>
      <td mat-cell *matCellDef="let row; let i = index">
        {{ column.cell(row, i + 1) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="right-align">
        <div class="mr">Дії</div>
      </th>
      <td mat-cell *matCellDef="let row; let i = index" class="right-align">
        <button mat-flat-button (click)="edit(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-flat-button (click)="delete(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
