<div *ngIf="!accessGranted" class="login">
    <mat-card>
            <mat-card-title class="login">Введіть ключ доступу</mat-card-title>
        <mat-card-content class="login">
        <form>
            <p>
            <mat-form-field class="login">
                <input matInput [(ngModel)]="accessKey" placeholder="Ключ доступу..." type="password" />
            </mat-form-field>
            </p>

            <div class="button login">
                <button mat-raised-button (click)="onSubmit()">Ввійти</button>
            </div>

        </form>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="accessGranted">
    <app-invoice></app-invoice>
</div>

<router-outlet></router-outlet>
