
.login {
display: flex;
justify-content: center;
margin: 100px 0px;
}

.mat-form-field.login {
width: 100%;
min-width: 300px;
}

mat-card-title.login,
mat-card-content.login {
display: flex;
justify-content: center;
}

.button.login {
display: flex;
justify-content: flex-end;
}