<h1 mat-dialog-title>Редагувати контакти</h1>
<div mat-dialog-content>
  <form class="invoice-contacts-form">
    <div class="flex-inputs">

      <mat-form-field class="invoice-contacts-full-width">
        <mat-label>Контакти</mat-label>
        <textarea matInput name="contactsStr" [(ngModel)]="data.contactsStr" rows="7" cols="100"></textarea>
      </mat-form-field>
    </div>
  </form>
  
  <input type="file" (change)="onFileSelected($event)" accept="image/*">
  <div>
    <img [src]="data.contactImage" style="width: 90px; height: 90px;">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()">Відмінити</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Зберегти</button>
</div>
